{% extends 'base.html.twig' %}

{% block title %}Recruter{% endblock %}

{% block body %}
    <h1>Recruter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recruter.id }}</td>
            </tr>
            <tr>
                <th>Domain</th>
                <td>{{ recruter.domain }}</td>
            </tr>
            <tr>
                <th>CompanyName</th>
                <td>{{ recruter.companyName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ recruter.address }}</td>
            </tr>
            <tr>
                <th>Address2</th>
                <td>{{ recruter.address2 }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ recruter.city }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ recruter.postalCode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recruter_index') }}">back to list</a>

    <a href="{{ path('app_recruter_edit', {'id': recruter.id}) }}">edit</a>

    {{ include('recruter/_delete_form.html.twig') }}
{% endblock %}
