{% extends 'base.html.twig' %}

{% block title %}Candidate index{% endblock %}

{% block body %}
    <h1>Candidate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>SearchedPost</th>
                <th>Disponibility</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.id }}</td>
                <td>{{ candidate.city }}</td>
                <td>{{ candidate.searchedPost }}</td>
                <td>{{ candidate.disponibility ? candidate.disponibility|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_candidate_show', {'id': candidate.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if not app.user.hasProfile() %}
        <a href="{{ path('app_recruter_new') }}">Créer mon profil</a>
    {% else %}
        <a href="{{ path('app_recruter_edit', {'id': app.user.recruter.id}) }}">Modifier mon profil</a>
    {% endif %}
{% endblock %}
