{% extends 'base.html.twig' %}

{% block title %}Candidate{% endblock %}

{% block body %}
    <h1>Candidate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidate.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ candidate.city }}</td>
            </tr>
            <tr>
                <th>SearchedPost</th>
                <td>{{ candidate.searchedPost }}</td>
            </tr>
            <tr>
                <th>Disponibility</th>
                <td>{{ candidate.disponibility ? candidate.disponibility|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
{#                <th>Cv</th>#}
{#                <td>{{ candidate.cv }}</td> TODO mettre fichier CV#}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_candidate_index') }}">back to list</a>
{% endblock %}
